.vs
bin
obj
*.dbmdl
*.jfm
.DS_Store
htown-mssql/data/*.mdf
htown-mssql/data/*.ldf
htown-mssql/data/*.bin
htown-mssql/log/services
htown-mssql/log/errorlog
htown-mssql/log/errorlog.*
htown-mssql/log/*.trc
htown-mssql/log/*.log
htown-mssql/log/system*
pipeline/terraform/.terraform
.terraform.lock.hcl
tf_log.txt
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
